.messages {
  display: flex;
  gap: 2em;

  margin: 20px;
}

.dialogs {
  padding: 1em;

  .person {
    margin-bottom: 1em;
    padding: 1em;

    border: 1px solid var(--line-clr);
    border-radius: .7em;
  }
}

.dialog {
  padding: 1em;

  .message {
    margin-bottom: 1em;
    padding: 1em;

    border: 1px solid var(--line-clr);
    border-radius: .7em;
  }
}