.messagesPage {
  display: grid;
  grid-template-columns: auto auto;

  width: 100%;
}

.dialogs {
  border-right: 1px solid #ccc;
}

.person a {
  display: block;

  padding: 10px;

  text-decoration: none;

  color: #333;

  border-radius: 4px;
}

.person a:hover {
  background-color: #f0f0f0;
}

.active {
  color: white;
  background-color: #007bff;
}

.dialog {
  flex: 1;

  padding: 10px;
}

.message {
  margin-bottom: 10px;

  .name {
    color: #333;
  }
}

.message:last-child {
  margin-bottom: 0;
}