.users {
  padding: 20px;

  .pagination {
    display: flex;
    justify-content: center;
    gap: 5px;

    text-align: center;

    font-size: 22px;

    span {
      cursor: pointer;
    }
  }

  .activePage {
    color: #007bff;

    font-weight: bold;
  }
}

.usersList {
  display: flex;
  gap: 10px;

  padding-top: 30px;
}

.info {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  width: 80%;

  padding: 10px;

  border: 1px solid #000;
  border-radius: 5px;
}

.user {
  display: flex;
  flex-direction: column;
}

.user button {
  padding: 5px 10px;

  cursor: pointer;

  color: white;

  border-radius: 5px;
  background-color: #007bff;
}

.user img {
  width: 70px;
  height: 70px;

  border-radius: 50%;
}