.container {
  max-width: 35em;

  color: white;

  h2 {
    margin: 1em 0;
  }
}

.row {
  display: flex;

  margin-bottom: 25px;
  padding-left: 20px;

  border-radius: 30px;
  background: #edeef0;
}

textarea {
  width: 80%;

  border: none;
  outline: none;
}

.add {
  padding: 10px;

  cursor: pointer;

  color: #fff;
  border: none;
  border-radius: 40px;
  outline: none;
  background: #ff5945;

  font-size: 16px;
}
