.sidebar {
  width: 200px;
  height: 100vh;
  padding: 5px 1em;
  background-color: var(--base-clr);

  position: sticky;
  top: 0;
  overflow: hidden;
  transition: 300ms ease-in-out;
  box-sizing: border-box;
  border-right: 1px solid var(--line-clr);
  align-self: start;

  ul {
    list-style: none;

    li {
      .toggle {
        margin-left: auto;
        padding: 1em;
        border: none;
        border-radius: .5em;
        background: none;
        cursor: pointer;

        svg {
          transition: rotate 150ms ease;
        }
      }

      .toggle:hover {
        background-color: var(--hover-clr);
      }

      a {
        padding: .85em;
        border-radius: .5em;
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 1em;
      }

      a:hover,
      a:focus {
        /* hover effect - это эфф наведения */
        background-color: var(--hover-clr);
        color: var(--focus-text-clr);
      }



      svg {
        fill: var(--text-clr);
        flex-shrink: 0;
      }

    }

    li:first-child {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 16px;

      .logo {
        padding: .85em;
        border-radius: .5em;
        font-weight: 600;
        text-decoration: none;
      }

      li.active a {
        color: var(--accent-clr);

        svg {
          fill: var(--accent-clr);
        }

      }
    }
  }
}

.close {
  width: 60px;
  padding: 5px;
}