.sidebar {
  grid-area: n;
  position: sticky;
  top: 0;

  overflow: hidden;
  align-self: start;

  box-sizing: border-box;
  width: 200px;
  height: 100vh;
  padding: 5px 1em;

  transition: 300ms ease-in-out;

  border-right: 1px solid var(--line-clr);
  background-color: var(--base-clr);

  ul {
    list-style: none;

    li {
      .toggle {
        margin-left: auto;
        padding: 1em;

        cursor: pointer;

        border: none;
        border-radius: 0.5em;
        background: none;
      }

      .toggle:hover {
        background-color: var(--hover-clr);
      }

      a {
        display: flex;
        align-items: center;

        padding: 0.85em;

        text-decoration: none;

        border-radius: 0.5em;
        gap: 1em;
      }

      a:hover,
      a:focus {
        color: var(--focus-text-clr);

        /* hover effect - это эфф наведения */
        background-color: var(--hover-clr);
      }

      svg {
        fill: var(--text-clr);

        flex-shrink: 0;
      }
    }

    li:first-child {
      display: flex;
      justify-content: flex-end;

      margin-bottom: 16px;

      .logo {
        padding: 0.85em;

        text-decoration: none;

        border-radius: 0.5em;

        font-weight: 600;
      }

      li.active a {
        color: var(--accent-clr);

        svg {
          fill: var(--accent-clr);
        }
      }
    }
  }
}

.close {
  width: 60px;
  padding: 5px;
}