.profile {
  display: flex;
  gap: 20px;

  flex-wrap: wrap;

}

.ava img {
  width: 190px;
  padding: 7px;
}

.description {
  font-size: 1.1rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;

}

span {
  color: #939393;
}