.post {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;

  border: 1px solid var(--line-clr);
  border-radius: 1em;
  margin-bottom: 1em;
  padding: min(1em, 15%);
}

.ava img {
  width: 4em;
  border-radius: 50%;
}

.message {
  flex: 1;
  margin-left: 10px;
}

.like {
  padding: 10px;

  span {
    margin-right: .5em;
  }
}