.post {
  display: flex;
  align-items: center;
  justify-content: start;

  margin-bottom: 1em;
  padding: 10px;
  padding: min(1em, 15%);

  border: 1px solid var(--line-clr);
  border-radius: 1em;
}

.ava img {
  width: 4em;

  border-radius: 50%;
}

.message {
  flex: 1;

  margin-left: 10px;
}

.like {
  padding: 10px;

  span {
    margin-right: 0.5em;
  }
}
